/* Name: Eugene Paul S. Marquez */
/* Section: BSINFO 2B */
body {
    font-family: Arial, sans-serif;
    background-color: #000; 
    color: #ddd; 
    text-align: center;
}

a {
    color: #fff; 
}

img {
    height: 150px;
    width: 150px;
}

p {
    font-size: 16px;
    color: #ddd; 
}

table {
    width: 85%;
    margin: 0 auto;
    border: 2px solid #fff; 
    color: #ddd; 
    background-color: #333; 
}

th,
td {
    padding: 10px;
}

th {
    background-color: #111; 
    color: #fff; 
    font-weight: bold;
    font-style: italic;
    border: 2px solid #fff; 
}

td {
    border: 2px solid #fff; 
    line-height: 25px;
}

td:first-child {
    width: 10%;
    background-color: #222; 
}

th:not(:first-child),
td:not(:first-child) {
    width: 15%;
}

.PE {
    background-color: #36454F; 
}

.GEC108 {
    background-color: #CA2C92; 
}

.ITEL203 {
    background-color: #800020; 
}

.ITEP204 {
    background-color: #0047AB; 
}

.ITEP205 {
    background-color: #734C3F; 
}

.ITEP206 {
    background-color: #B48E92; 
}

.ITEP207 {
    background-color: #8B3103; 
}

@media print {
    body {
        background-color: #000; 
        color: #fff; 
        font-family: "Times New Roman", Times, serif;
    }

    table {
        width: 85%;
    }

    th,
    td {
        font-size: 12px;
        color: #fff !important;
    }

    td:nth-child(1):not(:first-child) {
        page-break-after: always;
    }
}
